@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-1: #F6F6F6;
  --bg-color-2: #FFFFFF;
  --text-color: #1E1E1E;

  --dark-bg-color-1: #282828;
  --dark-bg-color-2: #252525;
  --dark-text-color: #DADADB;
}

.light {
  color-scheme: light !important;
}
.dark {
  color-scheme: dark !important;
}

html, body {
  color: light-dark(var(--text-color), var(--dark-text-color));
  background: radial-gradient(circle at top,transparent 60%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 61%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 66%, transparent 67%),radial-gradient(circle at bottom,transparent 60%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 61%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 66%, transparent 67%),radial-gradient(circle at left,transparent 60%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 61%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 66%, transparent 67%),radial-gradient(circle at right,transparent 60%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 61%, light-dark(var(--bg-color-2), var(--dark-bg-color-2)) 66%, transparent 67%);
  background-size: 3em 3em;
  background-color: light-dark(var(--bg-color-1), var(--dark-bg-color-1));
}